.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 25px;
  margin: 75px 25px;
}

.column-name {
  height: 30px;
  text-align: center;
}
.one {
  background-color: #8e6e95;
}
.two {
  background-color: #39a59c
}
.three {
  background-color: #344759;
}
.four {
  background-color: #e8741e;
}
